.search {
  display: inline-block;
}
.search ul {
  margin: 2px 0 0 0;
  padding: 0;
  position: absolute;
  z-index: 2;
  background-color: white;
  box-shadow: grey 0 0 10px 5px;
  min-width: 200px;
}
.search li {
  list-style: none;
  opacity: 0.85;
  transition: opacity 0.25s, background-color 0.25s;
}
.search li:hover,
.search li.selected {
  opacity: 1;
  background-color: lightgrey;
  cursor: pointer;
}
.search a {
  display: block;
  width: 100%;
  text-decoration: none;
}
.photo {
  width: 39px;
  max-height: 58px;
  display: inline-block;
  vertical-align: middle;
}
.photo img {
  max-width: 39px;
  max-height: 58px;
}
