<span class="search">
  <label for="search">
    <input id="search"
           autocomplete="off"
           [(ngModel)]="query"
           (keyup)="onKeyUp($event)"
           (focus)="open()"
    />
  </label>
  <ul *ngIf="results && results.length && opened">
    <li *ngFor="let result of results ; let i = index" [class.selected]="i === selectedResult">
      <a (click)="goTo(result)">
        <span class="photo">
          <img [src]="result.photo"/>
        </span>
        {{result.text}}
      </a>
    </li>
  </ul>
</span>
