<ng-container *ngIf="credits">
  <h3>Cast</h3>
  <imdb-scroll>
    <div class="cast">
      <imdb-person *ngFor="let cast of credits.cast"
                   [person]="cast">
      </imdb-person>
    </div>
  </imdb-scroll>

  <h3>Crew</h3>
  <imdb-scroll>
    <div class="crew">
      <imdb-person *ngFor="let crew of credits.crew"
                   [person]="crew">

      </imdb-person>
    </div>
  </imdb-scroll>
</ng-container>
