<ng-container *ngIf="movie">
  <div>
    <img [src]="movie.poster">
    <h1>{{movie.title}}</h1>
    <p>{{movie.overview}}</p>
    <p>{{movie.budget | currency: 'EUR'}}</p>
    <p>{{movie.release_date | date: 'dd/MM/yyyy'}}</p>
    <p>{{movie.movieVoteAverage}}</p>
    <p>{{movie.vote_count}}</p>
  </div>
</ng-container>
