<ng-container *ngIf="person">
  <h2>{{person.name}}</h2>
  <p>{{person.place_of_birth}}</p>
  <img [src]="person.personPic">
  <p *ngIf="person.biography">{{person.biography}}</p>
  <p>{{person.birthday | date: 'dd-MM-yyyy'}} -
  <span *ngIf="person.deathday">{{person.deathday}}</span>
  <span *ngIf="!person.deathday">??</span>
</ng-container>

<ng-container *ngIf="movie">
  <div class="person-movies">
    <div class="person-movie" *ngFor="let personMovie of movie">
      <a routerLink="/movie/{{personMovie.id}}">
        <img [src]="personMovie.poster">
      </a>
    </div>
  </div>
</ng-container>
