/* You can add global styles to this file, and also import other style files */
body, html {
  margin: 0;
  padding: 0;
  font-family: Ubuntu, serif;
}

*, body, html {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}
